$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  background-color: #333;
  display: flex;
  font-weight: 100;
  image-rendering: auto;
  font-style: italic;
}


p{
  font: optional;
}

.header {
  font-size: large;
}

aside[role="complementary"] {
  width: math.div(300px, 960px) * 100%;
  margin-left: auto;
}

div{
  font-family: 'Courier New', Courier, monospace;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  div{
    font: 100;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}



